
.decorate {
    text-align:center;
    border-top:1px solid red; 
    border-bottom:1px solid red;
}
li {
    list-style-type: none;
}
input {
    font-size: 20px;
    text-align: center
}

.li-ionic4-datePicker {
  .modal-wrapper {
    height: 75%;
    width: 310px;
    border-radius: 0px;
    @media (min-width: 768px) {
       width: 350px;
       height: 65%;
    }
  }
}

.demo-non-form {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.demo-container {
    padding: 0 1em;
}

.external-container {
    display: flex;
}

.external-container button.external-button {
    font-weight: 400;
    padding: 10px;
    margin: 6px 0 12px 16px;
}
.list-unstyled{
    width: 115%;
    margin-left: -10px;
}